<!doctype html>
<html>

<head>
  <title>Beit</title>
  <link rel="stylesheet" href="style.css">
</head>

<body>
  <div class="container">

    <div class=" ">
      <h1>Beit <span lang='ar'> بيت</span></h1>
      <!-- <img src="img/login.png" alt="love has no borders"> -->

      <p>Login or Signup:</p>

      <a href="/profile" class="btn btn-default"><span class="fa fa-user"></span>Refugee Postings</a>
      <a href="/host" class="btn btn-default"><span class="fa fa-user"></span>Host Postings</a>
      <p>About Us: Beit means home in Arabic. We are using technology to reunite the citizens of the world with their basic human rights. This is a passion project and a platform dedicated to refugees all over the world. It is especially needed in our world
        today. Despite living in such modern and technologically-advanced times, there are still people who are disconnected from vital necessities such as food, shelter, and the compassionate helping hand of a neighbor. Our forum is a secure place to
        connect those who have the ability to host with those in need.</p>

    </div>

  </div>
</body>

</html>